
h1{
    font-family: 'VT323', monospace;
}
p {
font-family: 'Lumanosimo', cursive;
}
.container{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
    .ooo :nth-child(odd){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 100px 200px;
    border: 2px solid black;
    width: 6em;
    height: 5em;
    background-color: aliceblue;
    
}

